// импорт фонта из гугл фонтс
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');


$font:  "Tektur", sans-serif;

*{
    font-family: $font;
}

.my-container{
    max-width: 1240px;
    margin: 0 auto;
}

.my-shadow{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
}
// адаптив для новостей
.news {
  .grid {
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px; 

    @media (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 

      > div {
        flex: 1 1 calc(50% - 20px); 
        margin: 10px;

        @media (max-width: 480px) {
          flex: 1 1 100%; 
        }
      }
    }
  }
}
